.main_container{
}
.container_text {
    position: relative;
    top: 30%;
}

.block_button{
    padding: 10px 0px;
    border: 2px solid #eff3ff;
    transition: 0.4s;
}

.block_button:hover{
    background-color: #bf42ce;
    border: 2px solid #bf42ce;
}

.myfoto{
    border: solid 1px #0a192f;
    border-radius: 50%;
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
    /* STYLES HERE */
}

@media only screen and (max-device-width: 480px) {
    /* STYLES HERE */
}