*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #0a192f;
    color: #c5cfde;
}
.li_navbar {
    transition: 0.3s;
}

.li_navbar:hover {
    color: #bf42ce;
}

.small_container{
    position: relative;
    left: -110px;
    transition: 0.5s;
}

.small_container:hover {
    left: 0;
    cursor: pointer;
}

.all_nav {
    z-index: 3;
}

button{
    padding: 10px 0px;
    border: 2px solid #eff3ff;
}

